.back{
    background-image: url(./img/cq5dam.thumbnail.767.431.margin.png);
    
}
.navbar{
    border-radius: 5px;
}
.row{
    border-radius: 5px;
}
.color:hover{
    background-color: aqua !important;
}